@use "bulma/sass";
.question-number{
    position:absolute;
    padding:10px 20px;
    top:0;
    right:0;
}
.box{padding:3em}
.button{white-space: normal;text-align: inherit;}
.approved,
.correct {
    color: sass.$success;
}

.notApproved,
.incorrect {
    color: sass.$danger;
}